[Desktop Entry]
Type=Application
Version=1.0
Name=Install deepin
GenericName=Calamares Installer
Exec=install-deepin
Comment=Calamares — Installer for deepin Live
Keywords=calamares;system;install;deepin;installer
Icon=install-deepin
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
